body {
    margin: 0;
    overflow: hidden;
    background-image: url(space.png); /* Hintergrundfarbe des Spiels */
    cursor: crosshair;
}

#spiel-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ziel {
    width: 60px; /*Gibt die größe an*/
   height: 60px;
         /* Rote Farbe für das Ziel */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

#kugel {
    width: 30px; /*Gibt die größe an*/
    height: 30px;
     /* Blaue Farbe für die Kugel */
    position: absolute;
    border-radius: 50%;
    cursor: pointer; /* Ändert den Cursor, um anzuzeigen, dass das Ziel geklickt werden kann */
    cursor: grab;
}

#neustarten {
    display: none;
    height: 150px;
    border-radius: 80px;
    width: 400px;
    font-size: xxx-large;
    border-color: rgba(255, 255, 0, 0.533);
    background-color: rgba(0, 0, 0, 0.523);
    border-width: 10px;
    color: rgba(255, 255, 0, 0.533);
    font-family: verdana, sans-serif;
}

#neustarten:hover {
    box-shadow: rgba(255, 255, 255, 0.496) 5px 5px 5px 5px;
    cursor: pointer;
    border-color: yellow;
    color: yellow;
}


#earth {
    width: 60px;
    height: 60px;
}

#asteroid {
    width: 30px;
    height: 30px;
}